.search-box-wrapper{
    display: inline;
    font-size: 20px;
    margin-left: 30%;
    text-align: center;
}

.search-box-input{
    font-size: inherit;
    border-radius: 5px;
    padding: 3px 5px;
    width: 35%;
}

.search-box-button{
    font-size: inherit;
    border-radius: 5px;
}


html{
    font-family: 'Roboto', sans-serif;
}
#navbar{
    background-color: white;
    box-shadow: 0px 6px 15px black;
    margin: 0;
}
h4{
    font-weight: 400;
    font-size: 18px;
}

body{
    margin: 0;
    background-image: url(../img/layout.jpg);
    background-size: cover;
    font-size: 14px;
    background-color: #ffffff;
}
ul {
    margin: 0 7px 10px 0;
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: white;
}


li {
    float: right;
}

li a {
    display: block;
    color: rgb(0, 115, 38);
    background-color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.4s ease;
}

li a:hover {
    background-color: rgba(0, 115, 38, 0.8);
    color: white;
    text-decoration: none;     
}
.active{
    border-bottom: solid
}
.active h4{
    font-weight: 700;
}

.isi h1{
    text-align: center;
    position: relative;
    line-height: 1.3em;
    margin-top: 180px;
    padding: 0 15px 0px;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    color: white;
    font-weight: 700;
    font-size: 40pt;
    margin-bottom: 20px;
}

.kata h2{
    text-align: center;
    position: relative;
    line-height: 1.3em;
    text-shadow: 0px 0px 6px rgba(0,0,0,0.8);
    color: white;
    font-weight: 300;
    font-size: 32px;

}

